/* CSS PAGE FOR SAMPLE BASED 

dark blue: #024873
pink: #e75480
cream: #F9F7EA = BACKGROUND COLOR & USED FOR INVERSION ON NAV BAR 
light grey: #efefef
red: rgb(239,0,24)
                            */


body {
   font-family: 'Gabarito', sans-serif;
    font-size: 16px; 
    font-weight:300;
    margin: 0;
    background-color: #F9F7EA;

}

                                            /*HEADER CONTROLS*/

header {
    background-color: #F9F7EA;
    padding: 1rem 2vw;
}

header h1 {
    margin: 0;
    color: #024873;
}
header p{
    margin: 0;
    color: #024873;
    letter-spacing: .5px;
}

                                            /*NAV CONTROLS*/
nav {
    background-color:#efefef;
    border: 1px solid #024873;
    border-radius: .5rem;
}
nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav ul li a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #024873;
    font-weight:700;
    display: block;
    padding: .83rem 2rem;
}
nav li.active a {
    background-color: #024873;
        color: #F9F7EA;
}
nav a:hover {
    color: #e75480;
    
}
            /* MAIN DECOR */
main {
        padding: 1rem 2vw;
        background-color: #F9F7EA;
}
main h1{
    color: #024873;
}
main h2{
    color: #024873;
    margin-bottom: .2rem;
}
main p{
    color: #2f3133;
    margin: 0 0 .3rem 0;
}
main ol {
    padding: .5rem 3vw;
    background-color: #efefef;
}
main dl dt {
    color: black;
    font-weight: 700;
    
}
main dl dd {
    color: #024873;
    font-size: .9rem;
}
main ul {
    list-style-type:square;
}

main ul li {
    color: black;
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main address {
    font-style: normal;
    background-color:#F9F7EA;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #024873;
    border-radius: .5rem;
}
                                        /*LINK CONTROLS*/
main a{
    color: #e75480;
}
main a:hover{
    color: rgb(239,0,24);
}

                                        /*FOOTER DECORATION*/
footer{
    background-color: #F9F7EA;
    text-align: center;
    color: #024873;
    padding: 1rem 0; 
    font-size: .8rem; 
}
footer a{
    color: #e75480;
}
